<% @questions.each do |question| %>
    <div class="question-parent">
            <div class="questions-title question-child">
                <%= question.title %>
            </div>
            <div class="questions-created-time question-child">
                質問日   <%= question.created_at.to_s(:date_jp) %>
            </div>
    </div>
<% end %>
</div>