<% if controller_name == "movies" && @search_category == @default_categories %>
  <div class="form-control-range mt-5">
    <form class="mb-3 search-form mx-auto">
      <i class="fa fa-search search-icon" title="Search"></i>
      <input type="text" id="search-movies" class="search-form search-text"
              placeholder="動画教材を探す" aria-label="Username" aria-describedby="search-form">
    </form>
  </div>
<% end %>

<section id="movie">
  <div class="default-video">
    <%= render partial: 'shared/video', collection: @movies, as: "video" %>
    <%= paginate @movies%>
  </div>
  <div class="searched-video hidden">
    <%= render partial: 'shared/search', collection: @search_movies, as: "video"%>
  </div>

</section>
