@import "bootstrap/scss/bootstrap";
// 「ログインしました」などのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
}
.alert-alert {
    @extend .alert-danger;
}

body {
  padding-top: 56px;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 質問一覧ページのスタイル
.question-parent{
  border: 2px solid #000000;
  border-radius: 10px;
  display:flex;
  width:630px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom:50px;
  margin-top:50px;
  text-decoration: none;
}
.questions-title{
  font-size: 22px;
  width: 350px;
  margin-right: 20px;
}
.questions-created-time{
  font-size: 18px;
  opacity: 0.8;
}

.question-parent:hover {
  text-decoration: none;
}

// 質問詳細ページのスタイル
#question {
  padding: 60px 0 80px 0;
  width: 710px;
  margin: 0 auto;
}

.question-title{
  margin-bottom: 20px;
}

.question-detail{
  margin: 20px 0 20px;  
}

.solutions {
  margin-top: 60px;  
}

.solution-detail {
  margin: 20px 0 20px;  
}

// 動画一覧ページ
#movie {
  padding: 120px 0 80px 0;
  width: 990px;
  margin: 0 auto;
}

.video-contents {
  margin-bottom: 80px;
  text-align: center;
}

.video-title {
  font-size: 20px;
  margin-bottom: 0px;
}

.video-content iframe{
  width: 560px;
  height: 315px;
}

.paginate-container {
  display: flex;
  justify-content: center;
}
