@import "bootstrap/scss/bootstrap";

// rougeのスタイルシーを読み込み
@import "rouge";

// 「ログインしました」などのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
}
.alert-alert {
    @extend .alert-danger;
}

body {
  padding-top: 56px;
}

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// aws_texts index
#container {
  padding: 30px 0 80px 0;
  margin: 0 auto;
}
#container table {
  table-layout: fixed;
  font-size: 17px;
}
#contents p {
  width: 710px;
  margin: 0 auto;
  padding-bottom: 15px;
}
.text-center {
  text-align: center;
}
.table-container {
  width: 710px;
  margin: 0 auto;
}

///text教材のページ
.text-container{
  padding: 20px 0 20px 0;
  margin: 0 auto;
}

.multicol {
  columns: 3;
}

.card-deck{
  margin:10px 0px 10px 0px;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

.card-title {
  color: black;
}

.card-text{
  color: black;
}

.stretched-link:hover {
  text-decoration: none;
}



.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  display: table;
  border-spacing: 2px;
  border-color: grey;
}

table {
  border-collapse: collapse;
}

.aws-table-head {
  background-color: #007bff;
}

.text-white {
  color: #fff !important;
}

.w-1 {
  width: 10%;
}

.w-5 {
  width: 50%;
}

.aws-content {
  padding: 60px 0 80px 0;
  width: 710px;
  margin: 0 auto;
}




// 質問一覧ページのスタイル
.question-form{
  width:630px;
  margin:0 auto;
}
.question-parent{
  border: 2px solid #000000;
  border-radius: 10px;
  display:flex;
  width:630px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom:50px;
  margin-top:50px;
  text-decoration: none;
}
.questions-title{
  font-size: 22px;
  width: 350px;
  margin-right: 20px;
}
.questions-created-time{
  font-size: 18px;
  opacity: 0.8;
}

.question-parent:hover {
  text-decoration: none;
}

// 質問詳細ページのスタイル
#question {
  padding: 60px 0 80px 0;
  width: 710px;
  margin: 0 auto;
}

.question-title{
  margin-bottom: 20px;
}

.question-detail{
  margin: 20px 0 20px;  
}

.solutions {
  margin-top: 60px;  
}

.solution-detail {
  margin: 20px 0 20px;  
}

// 動画一覧ページ
#movie {
  padding: 120px 0 80px 0;
  width: 990px;
  margin: 0 auto;
}

.video-contents {
  margin-bottom: 80px;
  text-align: center;
}

.video-title {
  font-size: 20px;
  margin-bottom: 0px;
}

.video-content iframe{
  width: 560px;
  height: 315px;
}

.paginate-container {
  display: flex;
  justify-content: center;
}
