@import "bootstrap/scss/bootstrap";

// rougeのスタイルシーを読み込み
@import "rouge";

// 「ログインしました」などのフラッシュ用スタイル
.alert-notice {
  @extend .alert-info;
}
.alert-alert {
    @extend .alert-danger;
}

// レスポンシブル対応のため@mediaへ移動
// body {
//   padding-top: 70px;
// }

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// aws_texts index
// レスポンシブル対応のため@mediaへ移動
// #container {
//   padding: 30px 0 80px 0;
//   margin: 0 auto;
// }

#container table {
  table-layout: fixed;
  font-size: 17px;
}

#contents {
  max-width: 710px;
  margin: 0 auto;
  padding-bottom: 15px;
}
// bootstrapの既定クラスなのでコメントアウト
// .text-center {
//   text-align: center;
// }
// 上位のタグで指定済みなのでコメントアウト
// .table-container {
//   width: 710px;
//   margin: 0 auto;
// }

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  display: table;
  border-spacing: 2px;
  border-color: grey;
}

table {
  border-collapse: collapse;
}

// bootstrapの既定クラスなのでコメントアウト
// .text-white {
//   color: #fff !important;
// }

.w-1 {
  width: 10%;
}

.w-5 {
  width: 50%;
}

.aws-content {
  // padding: 60px 0 80px 0;
  max-width: 710px;
  margin: 0 auto;
}

.line-content {
  max-width: 450px;
  margin: 0 auto;
}



// 質問一覧ページのスタイル
.question-form{
  max-width:630px;
  margin:0 auto;
}
.question-parent{
  border: 2px solid #000000;
  border-radius: 10px;
  display:flex;
  max-width:630px;
  padding: 15px;
  margin: 0 auto;
  margin-bottom:50px;
  margin-top:50px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
}
.questions-title{
  font-size: 22px;
  width: 350px;
  margin-right: 20px;
}
.questions-created-time{
  font-size: 18px;
  opacity: 0.8;
}

.question-parent:hover {
  border: 2px solid #5d5be7;
  text-decoration: none;
  transform: translateY(-10px);
}

// 質問詳細ページのスタイル
#question {
  // padding: 60px 0 80px 0;
  max-width: 710px;
  margin: 0 auto;
}

.question-title{
  margin-bottom: 20px;
}

.question-detail{
  margin: 20px 0 20px;  
}

.solutions {
  margin-top: 60px;  
}

.solution-detail {
  margin: 20px 0 20px;  
}

// 動画一覧ページ
#movie {
  // padding: 120px 0 80px 0;
  max-width: 710px;
  margin: 0 auto;
}

.video-contents {
  margin-bottom: 80px;
  text-align: center;
}

.video-title {
  font-size: 20px;
  margin-bottom: 0px;
}

.video-content{
  max-width: 560px;
  margin: auto;
}
  
.video-content iframe{
  transition: 0.5s;
  &:hover{
    transform: scale(1.03, 1.03);
  }
}

.paginate-container {
  display: flex;
  justify-content: center;
}

.tag-search-title{
  font-size: 20px; 
}

.video-tag i{
  font-size: 20px;
}

///text教材のページ
.search-form{
  margin: auto;
  padding: 0 20px;
  max-width: 350px;
}

// bootstrapの.text-centerに置き換えたため削除
// .text-content{
//   text-align: center;
// }

// bootstrapクラス上書きなので.p-4に置き換え
// .col-lg-4{
//   padding: 30px 30px 30px 30px;
// }

// bootstrapクラス上書き,かつhtmlで利用されていないクラスなので削除
// .card-deck{
//   margin:10px 0px 10px 0px;
// }


.row-eq-height {
  display: flex;
  flex-wrap: wrap;
}

// bootstrapクラス上書きしないよう変更
#text a  {
  color: black;
}

// .card-text{
//   color: black;
// }ß

.stretched-link:hover {
  text-decoration: none;
}

img {
   width: 100%;
   height: 180px;
   object-fit: cover;
 }

.card:hover {
  border-width: thin;
  border-color: #5D99FF;
  transition: 0.3s;
  box-shadow: 0px 0px 2px;
  text-decoration: none;
}

.hidden{
  display: none;
}

.tag-search{
  max-width: 710px;
  margin: 30px auto;
}

.tag-btns {
  text-align: center;
}

@media(min-width: 0px){
  // 全ページ共通
  body {
    padding-top: 98px;
  }

  #container {
    width: 90%;
    padding: 30px 0 80px 0;
    margin: 0 auto;
  }

  #container h2 {
    font-size: 40px;
  }

  // ナビゲーションバー
  .navbar a {
    font-size: 3em;
  }

  .navbar .navbar-nav a {
    font-size: 2em;
  }

}

@media(min-width: 992px){
  // 全ページ共通
  body {
    padding-top: 70px;
  }

  #container {
    width: 990px;
    padding: 120px 0 80px 0;
  }

  #container h2 {
    font-size: 30px;
  }

  // ナビゲーションバー
  .navbar a {
    font-size: 30px;
  }

  .navbar .navbar-nav a {
    font-size: 14px;
  }
}

@media(min-width: 1200px){
  // 全ページ共通
  #container{
    width: 1200px;
  }

  // ナビゲーションバー
  .navbar .navbar-nav a {
    font-size: 18px;
  }
}