<div id="container">
  <section id="contents">
    <div class="text-center">
      <h2>AWS講座</h2>
    </div>
  
    <p>
      注意!!!:AWSのEC2やRDSは有料サービスとなります。無駄な料金を請求されないためにも、不要なインスタンスは停止・削除をしてください。
    </p>
  
    <div class="table-container">
      <table class="table table-striped">
        <thead class="bg-primary text-white">
          <tr>
          <th class="w-1">No.</th>
          <th class="w-5">内容</th>
          </tr>
        </thead>
        <tbody>
          <% @awstexts.each.with_index(1) do |awstext, i| %>
              <tr>
                <td><%= i %></td>
                <td><%= link_to awstext.title,aws_text_path(awstext.id) %></td>
              </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>