<div class="fixed-bottom bg-primary">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active text-white" href="http://utina.yoshitokamizato.com/">ブログ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active text-white" href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag">Youtube</a>
      </li>
    </ul>
</div>